.game-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 229, 255, 0.3);
  transition: 0.3s;
}
.game-item-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.game-item-info {
  padding: 20px;
}
.game-item-name {
  font-size: 20px;
  font-weight: 500;
  color: #bfbfbf;
}
.game-item-desc {
  font-size: 12px;
  color: #a1a1a1;
}
