.selection-term {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.term-setup-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
}
.term-setup-name {
  color: #bfbfbf;
  font-size: 24px;
  margin-top: 10px;
}
.check {
  width: 20px;
  height: 20px;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkmark {
  background-color: #00e5ff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.term-item {
  cursor: pointer;
}
.terms {
  width: 600px;
  background-color: #0d0d0d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 229, 255, 0.2);
  color: #bfbfbf;
  margin-top: 30px;
}
.term-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.term-item:last-of-type {
  border-bottom: none;
}
.term-item-price {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.term-item-price-amount {
  color: #00e5ff;
  transition: transform 0.3s ease;
}
.terms-button {
  margin-top: 8px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #00e5ff;
  letter-spacing: 1px;
  background-color: #0d0d0d;
  color: #00e5ff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  box-shadow: 0 0 8px #00e5ff55;
  width: 200px;
  margin: auto;
  margin-top: 20px;
}
.terms-button:hover {
  box-shadow: 0 0 10px #00e5ffcc;
  transform: translateY(-2px);
}
.term-item:hover {
  background-color: #1a1a1a;
  border-radius: 2px;
}
.term-item-price-label {
  font-size: 16px;
  transition: transform 0.3s ease;
}
.term-item:hover .term-item-price-label {
  transform: scale(1.1);
}
.term-item:hover .term-item-price-amount {
  transform: scale(1.1);
}
