.navbar {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d0d0d;
  /*box-shadow: 0 0 20px rgba(0, 229, 255, 0.2);*/
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  color: #bfbfbf;
}
.navbar-menu a {
  color: #bfbfbf;
  font-size: 18px;
  position: relative;
  transition: 0.3s ease;
  display: inline-block;
}
.navbar-menu li {
  margin: 0;
  padding: 0;
}
.navbar-menu a:hover {
  color: #00e5ff;
  text-shadow: 0 0 8px #00e5ff;
}
.active {
  color: #00e5ff !important;
  text-shadow: 0 0 12px #00e5ff;
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #00e5ff;
  box-shadow: 0 0 10px #00e5ff;
}
.navbar .logo {
  width: 50px;
}
.logo-tekst {
  color: #00e5ff !important;
  text-shadow: 0 0 12px #00e5ff;
  font-size: 24px;
}
.profile-icon {
  transition: 0.3s ease;
}
.profile-icon:hover {
  content: url(../../assets/person2.png);
  filter: drop-shadow(0 0 12px #00e5ff);
}
.navbar button {
  background: transparent;
  font-size: 16px;
  border: 1px solid #00e5ff;
  color: #bfbfbf;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button:hover {
  background-color: rgba(0, 229, 255, 0.1);
}
