.navbar {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d0d0d;
  /*box-shadow: 0 0 20px rgba(0, 229, 255, 0.2);*/
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  color: #bfbfbf;
}
.navbar-menu a {
  color: #bfbfbf;
  font-size: 18px;
  position: relative;
  transition: 0.3s ease;
  display: inline-block;
}
.navbar-menu li {
  margin: 0;
  padding: 0;
}
.navbar-menu a:hover {
  color: #00e5ff;
  text-shadow: 0 0 8px #00e5ff;
}
.active {
  color: #00e5ff !important;
  text-shadow: 0 0 12px #00e5ff;
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #00e5ff;
  box-shadow: 0 0 10px #00e5ff;
}
.navbar .logo {
  width: 50px;
}
.logo-tekst-navbar {
  color: #00e5ff;
  text-shadow: 0 0 12px #00e5ff;
  font-size: 24px;
}
.profile-icon {
  transition: 0.3s ease;
}
.profile-icon:hover {
  content: url(../../assets/person2.png);
  filter: drop-shadow(0 0 12px #00e5ff);
}
.navbar-button {
  background: transparent;
  font-size: 16px;
  border: 1px solid #00e5ff;
  color: #bfbfbf;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar-button:hover {
  background-color: rgba(0, 229, 255, 0.1);
}
.menu-icon {
  width: 30px;
  cursor: pointer;
  display: none;
}
.user-logged {
  color: #bfbfbf;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.user-logged-img {
  width: 24px;
}
.user-down-img {
  width: 20px;
  transition: 0.3s ease;
}
.user-dropdown-menu {
  visibility: hidden;
  opacity: 0;
  margin-top: 5px;
  transform: translateY(0);
  color: #bfbfbf;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  padding: 15px 20px;
  background-color: #1a1a1a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1000;

  transition: 0.3s ease;
}
.user-dropdown-menu span {
  cursor: pointer;
  font-size: 14px;
}
@media (hover: hover) {
  .user-dropdown:hover .user-dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .user-dropdown:hover .user-down-img {
    transform: rotate(180deg);
  }
}
.user-dropdown-menu.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.user-down-img.open {
  transform: rotate(180deg);
}
@media (max-width: 1024px) {
  .navbar-menu {
    gap: 20px;
  }
  .navbar-menu a {
    font-size: 16px;
  }
  .navbar button {
    padding: 8px 20px;
    font-size: 14px;
  }
  .logo-tekst-navbar {
    font-size: 22px;
  }
  .user-logged-username {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #0d0d0d;
  }
  .navbar {
    width: 80%;
    z-index: 1000;
    margin: auto;
    padding-top: 20px;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-right {
    display: none;
  }
  .menu-icon {
    display: block;
    width: 24px;
  }
  .close-icon {
    display: block;
    width: 20px;
  }
  .logo-tekst-navbar {
    font-size: 24px;
  }
  .navbar-menu {
    flex-direction: column;
    background-color: #0d0d0d;
    position: fixed;
    top: 70px;
    z-index: 1000000;
    left: 50%;
    transform: translate(-50%, -10px);
    border-radius: 15px;
    width: 80%;
    margin: auto;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 229, 255, 0.1);
    padding: 20px 20px;
    display: none;
    gap: 30px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .navbar-menu a {
    font-size: 24px;
    position: relative;
    transition: 0.3s ease;
    display: inline-block;
  }
  .navbar-menu.open {
    display: flex;
    transform: translate(-50%, 0);
    opacity: 1;
  }
  .user-logged-username {
    font-size: 20px;
  }
  .user-dropdown-menu {
    gap: 10px;
  }
  .user-dropdown-menu span {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .navbar {
    width: 90%;
    z-index: 1000;
  }
  .logo-tekst-navbar {
    font-size: 24px;
  }
  .navbar-menu {
    width: 90%;
  }
}
