.choose-us {
  margin-top: 100px;
}
.choose-us h2 {
  font-size: max(2vw, 24px);
  color: #bfbfbf;
  font-weight: 600;
  text-align: center;
}
.choose-us-container {
  display: flex;
  margin-top: 0px;
}
.choose-us-item {
  display: flex;
  flex-direction: column;
  color: #bfbfbf;
  /*border: solid 1px #00e5ff;*/
  border: 1px solid rgba(0, 229, 255, 0.5);
  padding: 70px 60px;
  gap: 10px;
  color: #bfbfbf;
  transition: 0.3s;
}
.choose-us-item:hover {
  background-color: rgba(0, 229, 255, 0.8);
  color: #0d0d0d;
  box-shadow: 0 0 14px rgba(0, 229, 255, 0.35);
}
.choose-us-item b {
  font-size: 20px;
  font-weight: 500;
}
.choose-us-item p {
  font-size: 12px;
}
