.setup-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  color: #bfbfbf;
  box-shadow: 0 0 20px rgba(0, 229, 255, 0.1);
}
.setup-btn {
  margin-top: 8px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #00e5ff;
  letter-spacing: 1px;
  background-color: #0d0d0d;
  color: #00e5ff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  box-shadow: 0 0 8px #00e5ff55;
}
.setup-btn:hover {
  box-shadow: 0 0 18px #00e5ffcc;
  transform: translateY(-2px);
}
.setup-item-name {
  font-size: 20px;
  font-weight: 500;
}

.setup-item-description {
  font-size: 12px;
}
.setup-item-containter {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.setup-price {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #00e5ff;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0 0 8px #00e5ff55;
}
@media (max-width: 768px) {
  .setup-item-name {
    font-size: 28px;
    font-weight: 500;
  }

  .setup-item-description {
    font-size: 14px;
  }
}
