.title-reservations {
  color: #bfbfbf;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}
.no-reservations {
  color: #bfbfbf;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
}
.reservations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  max-width: 1400px;
  align-items: center;
  justify-content: center;
}
.reservation-item {
  color: #bfbfbf;
  /* border: 1px solid #00e5ff;*/
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.2);
}
.btn-cancel {
  display: block;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #00e5ff;
  letter-spacing: 1px;
  background-color: #0d0d0d;
  color: #00e5ff;
  font-weight: 500;
  transition: 0.3s;
  font-size: 12px;
  box-shadow: 0 0 8px #00e5ff55;
}
.btn-cancel:hover {
  box-shadow: 0 0 10px #00e5ffcc;
  transform: translateY(-2px);
}
