.footer {
  color: #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 10vw;
  padding-top: 80px;
  margin-top: 100px;
  box-shadow: 0 0 20px rgba(0, 229, 255, 0.4);
}
.footer-content {
  width: 100%;
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer-content-left p {
  max-width: 600px;
}
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 5px;
  cursor: pointer;
}
.footer-content-right h2,
.footer-content-center h2 {
  color: #bfbfbf;
  font-size: 24px;
}
.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
  cursor: pointer;
}
.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: grey;
  border: none;
}
.logo-tekst {
  color: #00e5ff !important;
  text-shadow: 0 0 12px #00e5ff;
  font-size: 24px;
}
.active-footer {
  color: #00e5ff !important;
  text-shadow: 0 0 12px #00e5ff;
}
@media (max-width: 1024px) {
  .footer {
    padding: 30px 10vw;
    gap: 10px;
  }
  .footer-content {
    gap: 20px;
    flex-direction: column;
  }
  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    gap: 10px;
  }
  ul li {
    line-height: 0.9;
  }
  .footer-content p {
    font-size: 14px;
  }
  .footer-content-right h2,
  .footer-content-center h2 {
    font-size: 22px;
  }
  .footer-copyright {
    font-size: 15px;
    color: #bfbfbf;
  }
  .footer hr {
    height: 1px;
  }
  .footer-social-icons img {
    width: 36px;
    margin-right: 15px;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 10vw;
    gap: 10px;
  }
  .footer-content {
    gap: 20px;
    flex-direction: column;
  }
  .logo-tekst {
    font-size: 20px;
  }
  .footer-content p {
    font-size: 14px;
  }
  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    gap: 10px;
  }
  .footer-content-right h2,
  .footer-content-center h2 {
    font-size: 18px;
  }
  ul li {
    font-size: 14px;
    line-height: 0.9;
  }
  .footer-copyright {
    font-size: 14px;
    color: #bfbfbf;
  }
  .footer hr {
    height: 1px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 30px 10vw;
    gap: 10px;
  }
  .footer-content {
    gap: 20px;
    flex-direction: column;
  }
  .logo-tekst {
    font-size: 20px;
  }
  .footer-content p {
    font-size: 14px;
  }
  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    gap: 10px;
  }
  .footer-content-right h2,
  .footer-content-center h2 {
    font-size: 18px;
  }
  ul li {
    font-size: 14px;
    line-height: 0.9;
  }
  .footer-copyright {
    font-size: 14px;
    color: #bfbfbf;
  }
  .footer hr {
    height: 1px;
  }
}
