.footer {
  color: #bfbfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;
  box-shadow: 0 0 20px rgba(0, 229, 255, 0.4);
}
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}
.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer-content-right h2,
.footer-content-center h2 {
  color: #bfbfbf;
}
.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
  cursor: pointer;
}
.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: grey;
  border: none;
}
.logo-tekst {
  color: #00e5ff !important;
  text-shadow: 0 0 12px #00e5ff;
  font-size: 24px;
}
.active-footer {
  color: #00e5ff !important;
  text-shadow: 0 0 12px #00e5ff;
}
