.login-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0f0f0f;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  width: 400px;
  gap: 15px;
  color: #bfbfbf;
  z-index: 10000000;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-input {
  width: 100%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 255, 255, 0.2);
  border-radius: 20px;
  transition: 0.3s;
}
.login-input:focus-within {
  border-color: #00e5ff;
  box-shadow: 0 0 12px rgba(0, 229, 255, 0.3);
}
.login-input.password {
  display: flex;
  align-items: center;
}
.login-input.password img {
  width: 16px;
  height: auto;
  cursor: pointer;
}
.login-input input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #bfbfbf;
  font-size: 15px;
  padding: 5px 0px;
}
.login-input input:focus {
  outline: none;
}
.login-button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #00e5ff;
  letter-spacing: 1px;
  background-color: #0d0d0d;
  color: #00e5ff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  box-shadow: 0 0 8px #00e5ff55;
}
.login-button:hover {
  box-shadow: 0 0 10px #00e5ffcc;
  transform: translateY(-2px);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}
.login-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 36px;
}
.login-register {
  text-align: center;
}
.login-register-link {
  cursor: pointer;
}
@media (max-width: 768px) {
  .login-title {
    font-size: 28px;
  }
  .login-input {
    padding: 2px 15px;
  }
  .login-input input {
    font-size: 14px;
  }
  .login-input.password img {
    width: 14px;
  }
  .login-button {
    padding: 8px;
    font-size: 14px;
    margin-top: 20px;
  }
  .login-register {
    font-size: 13px;
  }
  .login-div {
    width: 80%;
    max-width: 400px;
    gap: 10px;
  }
  .login-form {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .login-title {
    font-size: 24px;
  }
  .login-input {
    padding: 2px 15px;
  }
  .login-input input {
    font-size: 14px;
  }
  .login-input.password img {
    width: 12px;
  }
  .login-button {
    padding: 6px;
    font-size: 12px;
    margin-top: 15px;
  }
  .login-register {
    font-size: 12px;
  }
  .login-div {
    width: 90%;
    gap: 10px;
  }
}
