/*@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #0d0d0d;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  width: 80%;
  margin: auto;
}
@media (max-width: 768px) {
  .app {
    margin-top: 100px;
  }
}
@media (max-width: 480px) {
  .app {
    width: 90%;
  }
}
