.price-card {
  background-color: #0f0f0f;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #bfbfbf;
  transition: 0.5s;
}

.price-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.price-card h2 {
  margin-bottom: 10px;
}

.base-price span,
.price-card li span {
  color: #00e6ff;
}

.price-card li {
  list-style: none;
}

.price-card:hover {
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  transform: translateY(-2px);
  transition: 0.2s ease;
}

.price-card button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #00e5ff;
  letter-spacing: 1px;
  background-color: #0d0d0d;
  color: #00e5ff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  box-shadow: 0 0 8px #00e5ff55;
}

.price-card button:hover {
  box-shadow: 0 0 18px #00e5ffcc;
  transform: translateY(-2px);
}

@media (max-width: 1024px) {
  .base-price {
    margin-bottom: 5px;
  }
  .price-card ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 2px;
  }
  .price-card h2 {
    margin-bottom: 5px;
  }
  .price-card-image {
    height: 180px;
  }
}

@media (max-width: 768px) {
  .price-card h2 {
    font-size: 24px;
  }
  .base-price {
    font-size: 18px;
  }
  .price-card h3 {
    font-size: 20px;
  }
  .price-card ul li {
    font-size: 16px;
  }
  .price-card button {
    font-size: 14px;
    padding: 12px 30px;
    border-radius: 30px;
  }
  .price-card-image {
    max-height: 160px;
  }
}

@media (max-width: 480px) {
  .price-card {
    padding: 20px;
  }
  .price-card h2 {
    font-size: 22px;
  }
  .base-price {
    font-size: 16px;
  }
  .price-card h3 {
    font-size: 18px;
  }
  .price-card ul li {
    font-size: 14px;
  }
  .price-card button {
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 30px;
  }
  .price-card-image {
    height: 150px;
  }
}
